---
import Layout from "../../layouts/Layout.astro"
import BlogPost from "../../components/BlogPost.astro"
import styles from "../../styles/Blog.module.css"
import { getCollection } from "astro:content"
import Divider from "../../components/Divider.astro"

const posts = await getCollection("blog")
---

<Layout page="Blog" description="The blog of Henry Hiles">
	<div class={styles.container}>
		<aside class={styles.sidebar}>
			<input type="text" placeholder="Search..." id="search" />
		</aside>
		<div class={styles.right}>
			<article class={styles.description}>
				<h1>Welcome to the blog!</h1>
				<Divider />
				<p>
					Hello, and welcome to my blog. I post about Discord Bot
					Development, Web Development, Linux, and other Tech-related
					subjects. You can filter and search in the sidebar.
				</p>
			</article>
			{
				posts.map((post) => (
					<a
						class={styles.link}
						href={`/blog/${post.slug}`}
						data-title={post.data.title}
						data-tags=""
					>
						<BlogPost post={post} />
					</a>
				))
			}
		</div>
	</div>
</Layout>

<script>
	const searchBar = document.querySelector("#search") as HTMLInputElement
	const posts = document.querySelectorAll(
		"[data-title]"
	) as NodeListOf<HTMLElement>

	const search = () =>
		posts.forEach((post) =>
			post.setAttribute(
				"aria-hidden",
				post.dataset.title
					?.toLowerCase()
					?.includes(searchBar.value.toLowerCase())
					? "false"
					: "true"
			)
		)

	searchBar?.addEventListener("input", search)
	addEventListener("load", search)
</script>
