---
import { getCollection } from "astro:content"
import styles from "../styles/Portfolio.module.css"
import Divider from "./Divider.astro"

const projects = await getCollection("projects")
---

<section id="portfolio" class={styles.portfolio}>
	<h2>Projects</h2>
	<Divider />
	<article class={styles.portfolioItems}>
		{
			projects.map((project) => (
				<a href={`/projects/${project.slug}`}>
					<img
						src={`/images/${project.data.thumbImage}`}
						alt={project.data.name}
					/>
					<h3 class={styles.projectName}>{project.data.name}</h3>
				</a>
			))
		}
	</article>
</section>
